@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

$item_mr: 2.4%
@mixin articleItem
  display: flex
  @include m.media(phone)
    & + .articleItem
      margin-top: f.px(30)
  @include m.media(tablet)
    flex-basis: math.div((100% - $item_mr), 2)
    &:nth-child(n+3)
      margin-top: f.px(30)
    &:nth-child(odd)
      margin-right: $item_mr
  @include m.media(laptop)
    flex-basis: math.div((100% - $item_mr * 2), 3)
    &:nth-child(n+4)
      margin-top: f.px(30)
    &:nth-child(3n - 1),
    &:nth-child(3n - 2)
      margin-right: $item_mr
  @include m.media(desktop, widescreen)
    flex-basis: math.div((100% - $item_mr * 3), 4)
    &:nth-child(n+5)
      margin-top: f.px(30)
    &:nth-child(4n - 1),
    &:nth-child(4n - 2),
    &:nth-child(4n - 3)
      margin-right: $item_mr