@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container
  display: flex

.trigger
  position: relative
  svg
    position: absolute
    top: -15px
    right: -15px

.content
  display: flex
  width: 448px
  padding: 40px
  background-color: #fff
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
  @include m.media(tablet, phone)
    width: 100%
    padding: 30px
    flex-direction: column

.icon
  top: 20px
  margin-right: 19px
  width: 25px
  @include m.media(tablet, phone)
  margin-bottom: 15px
  svg
    width: 25px
    height: 25px

.text
  line-height: 120%
  font-weight: 500
  @include m.media(phone, tablet)
    font-size: f.px(13)
  @include m.media(laptop, desktop, widescreen)
    font-size: 16px
  &:nth-child(1)
    margin-bottom: 33px
    @include m.media(tablet, phone)
      margin-bottom: 15px
  &:nth-child(2)
    margin-bottom: 9px

.strong
  font-weight: 300

.item
  padding: 0 0 0 15px
  margin: 10px 0 0 0
  position: relative
  line-height: 120%
  @include m.media(tablet, phone)
    font-size: f.px(13)
  &:before
    content: ''
    position: absolute
    width: 5px
    height: 5px
    background-color: red
    border-radius: 50%
    left: 0
    top: 5px
