$alpha: #ff3535
$beta: #998d8d
$gamma: #f94f4f
$delta: #fb6d6d
$epsilon: #ff8f8f
$zeta: #fcafaf
$eta: #ffcccc
$theta: #CD1800
$iota: #cccc
$kappa: #B3B3B3
$lambda: #b3b3b3
$mu: #070F24
$nu: #E6E6E6
$xi: #2D2C2A
$omicron: #B2B2B2
$pi: #3D3C39
$rho: #D9D9D9
$sigma: #F7F7F7
$tau: #808080
$upsilon: #7A7A7A
$phi: #F8F8F8
$chi: #262626
$psi: #fff
$omega: #000