@use '@/styles/themes/default/colors' as c

:export
  alpha: c.$alpha
  beta: c.$beta
  gamma: c.$gamma
  delta: c.$delta
  epsilon: c.$epsilon
  zeta: c.$zeta
  eta: c.$eta
  theta: c.$theta
  iota: c.$iota
  kappa: c.$kappa
  lambda: c.$lambda
  mu: c.$mu
  nu: c.$nu
  xi: c.$xi
  omicron: c.$omicron
  pi: c.$pi
  rho: c.$rho
  sigma: c.$sigma
  tau: c.$tau
  upsilon: c.$upsilon
  phi: c.$phi
  chi: c.$chi
  psi: c.$psi
  omega: c.$omega
  alpha-2: c.$alpha-2