@use '@/styles/utils/mixin' as m

.generalContainer
  margin-right: auto
  margin-left: auto
  padding-left: 10px
  padding-right: 10px
  width: 1310px
  @include m.media(desktop)
    width: 1000px
  @include m.media(laptop, tablet)
    width: 710px
  @include m.media(tablet, phone)
    width: 100%
  &::before,
  &::after
    content: ' '
    display: table
  &::after
    clear: both

.h1
  text-transform: uppercase
  @include m.media(widescreen, desktop, tablet, laptop)
    margin: 54px 0
  @include m.media(phone)
    margin: 30px 0
