@use "sass:math"
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.wrapper
  position: relative
  @include m.media(phone, tablet)
    padding-bottom: f.px(60)
  @include m.media(laptop, desktop, widescreen)
    padding-bottom: f.px(130)

.title
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(32)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(48)
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$chi)

.list
  @include m.media(phone, tablet)
    margin-top: f.px(40)
  @include m.media(laptop, desktop, widescreen)
    margin-top: f.px(78)
  @include m.media(desktop, widescreen)
    display: flex
    flex-wrap: wrap
    justify-content: space-between

$listItem_dw_ml: 2.4%
.listItem
  display: flex
  @include m.media(phone, tablet, laptop)
    & + .listItem
      margin-top: f.px(30)
  @include m.media(desktop, widescreen)
    flex-basis: math.div(100% - $listItem_dw_ml * 1, 2)
    &:nth-child(n + 3)
      margin-top: f.px(30)
    &:nth-child(even)
      margin-left: $listItem_dw_ml

.listItemTitle
  margin: 0
  @include m.media(phone, tablet)
    font-size: f.px(20)
    @include m.dye(c, c.$xi)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(24)
    @include m.dye(c, c.$chi)
  font-weight: 500
  line-height: 120%

.listItemContent
  margin: 0
  margin-top: f.px(10)
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.dye(c, c.$chi)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(16)
    @include m.dye(c, c.$chi)
  font-weight: 300
  line-height: 120%

.icon
  display: flex
  justify-content: center
  align-items: center
  @include m.media(phone, tablet)
    min-width: f.px(26)
    max-width: f.px(26)
    min-height: f.px(26)
    max-height: f.px(26)
    margin-right: f.px(17)
    & > *
      max-width: f.px(18)
  @include m.media(laptop, desktop, widescreen)
    min-width: f.px(57)
    max-width: f.px(57)
    min-height: f.px(57)
    max-height: f.px(57)
    margin-right: f.px(32)
    & > *
      max-width: f.px(26)
  border-radius: 50%
  @include m.dye(bgc, c.$alpha)