@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/general' as g

.onlyPagination
  .paginationBtn
    @include m.media(tablet, phone)
      display: inline-block
  .toggleItemsBtn
    @include m.media(tablet, phone)
      display: none

.paginationBtn
  padding: 11px 16px
  font-size: 16px
  font-weight: 300
  border: none
  cursor: pointer
  transition: all .3s ease-out
  @include m.media(tablet, phone)
    display: none
  &:not(:last-child)
    margin-right: 5px
  &.ordinaryBg
    background-color: #f2f2f2
    &.active
      background-color: #ff3535
      color: #fff
  &.semiTransparentBg
    background-color: rgba(255, 255, 255, .2)
    color: #fff
    opacity: .55
    &:hover
      opacity: .75
    &.active
      background-color: #fff
      color: #ff3535
      opacity: 1

.loadMoreBtn
  display: none
  transition: all .3s ease-out
  width: 100%
  margin-bottom: 10px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.1em
  text-align: center
  padding: 20px 30px
  background: #ff3535
  color: #fff
  border: none
  cursor: pointer
  font-family: inherit
  line-height: 1
  font-size: 13px
  @include m.media(tablet, phone)
    display: flex
    align-items: center
    justify-content: center
    padding: 20px
  &:hover
    background: #e63030
  &.btnHidden
    display: none

.toggleItemsBtn
  @include m.media(phone, tablet)
    display: flex
    justify-content: center
    align-items: center
    width: auto
    margin: 0 auto
    padding: 0 0 f.px(5)
    font-size: f.px(16)
    font-weight: 300
    border: none
    border-bottom: 1px dashed #000
    background-color: transparent
    color: #262626
  @include m.media(laptop, desktop, widescreen)
    display: none
  
.IconArrowLeft
  @include m.media(phone, tablet)
    min-width: f.px(6)
    max-width: f.px(6)
    min-height: f.px(4)
    max-height: f.px(4)
    margin-left: f.px(15)
    transform: rotate(90deg)
  @include m.media(laptop, desktop, widescreen)
    display: none
