@use '@/styles/utils/mixin' as m

.container
  display: none
  flex-wrap: wrap
  height: 100%
  padding-left: 30px
  &.visible
    display: flex

.containerItem
  flex: 0 0 50%
  padding: 0 28px 50px
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: 20px
    padding-right: 20px
  &:first-child
    flex: 0 0 100%
    padding-top: 40px
    padding-bottom: 0
  &:last-child
    border-left: solid 1px #e6e6e6

.itemDetails
  line-height: 1.2
  padding-top: 8px

.itemTitle
  font-weight: 500
  font-size: 24px
  margin-bottom: 4px
  display: flex
  position: relative
  display: inline-block
  @include m.media(desktop, laptop, tablet, phone)
    font-size: 19px

.itemDiscount
  display: flex
  flex-direction: column
  justify-content: center
  width: 74px
  height: 74px
  position: absolute
  border-radius: 50%
  background: #ff3535
  color: #fff
  text-align: center
  left: 100%
  top: 50%
  margin-top: -36px
  margin-left: 35px
  line-height: 1
  transform: rotate(20deg)
  @include m.media(desktop, laptop, tablet, phone)
    margin-left: 10px
  span
    font-size: 8px
    font-family: 'mazzardH', Arial, Tahoma, sans-serif
    font-weight: 400

.itemDiscountAmount
  font-weight: bold
  font-size: 20px
  font-family: 'Visuelt', Arial, Tahoma, sans-serif

.itemPrice
  font-size: 20px
  color: #000
  margin-bottom: 22px

.infoFlexContainer
  display: flex
  align-items: center
  margin-bottom: 10px
  font-weight: 700
  padding-left: 2px
  font-size: 14px

.infoItemContainer
  display: flex
  &:not(:last-child)
    margin-right: 37px

.itemInfo
  display: flex
  flex-wrap: wrap
  margin: 0 -6px 7px
  .infoFlexContainer
    margin-left: 6px
    margin-right: 6px

.programInfo
  .infoFlexContainer
    align-items: flex-start

.iconContainer
  width: 20px
  text-align: center
  flex-shrink: 0
  margin-right: 8px

.list
  line-height: 1.2
  color: #000000

.listItem
  &:not(:last-child)
    margin-bottom: 10px
  a
    transition: all .3s ease-out

    &:hover
      .arrow
        fill: #ff3535
      color: #ff3535

.programInfo
  @include m.media(laptop, tablet, phone)
    margin-top: 40px
  .infoFlexContainer
    display: flex
    align-items: flex-start
    margin-bottom: 10px
    font-weight: 700
    padding-left: 2px
  span
    height: 100%
    padding-top: 0
    font-size: 16px
    font-weight: 700
    line-height: 1.2

.programTitle
  font-size: 36px
  line-height: 1.2
  font-weight: 700
  margin-bottom: 12px
  @include m.media(desktop, laptop, tablet, phone)
    font-size: 28px

.programDesc
  line-height: 1.2
  margin-bottom: 38px
  font-size: 20px
  font-weight: 400

.link
  font-weight: 400
  position: relative

.arrow
  position: absolute
  right: -10px
  top: 3px
  width: 7px
  display: inline-block
  transform: rotate(-180deg)
  margin-left: 5px
  fill: #000
  transition: all .3s ease-out

