@use '@/styles/utils/mixin' as m

.container
  font-size: 13px
  font-weight: 400
  margin-bottom: 42px
  @include m.media(laptop, tablet, phone)
    margin-bottom: 30px

.headerContainer
  margin-bottom: 11px
  color: #808080
