@use '@/styles/utils/mixin' as m

.wrapper
  z-index: 2
  overflow: hidden
  padding-left: 220px
  padding-top: 19px
  margin-bottom: 69px
  position: relative
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: 10px
  @include m.media(tablet, phone)
    margin-bottom: 40px

.title
  position: absolute
  left: 0
  width: 220px
  padding-right: 20px
  text-transform: uppercase
  font-weight: bold
  font-size: 20px
  line-height: 1.3
  @include m.media(desktop, laptop, tablet, phone)
    position: static
    width: auto
    padding-right: 0
    margin-bottom: 20px
    margin-top: 0 !important
  @include m.media(phone)
    font-size: 18px

.flexContainer
  display: flex
  @include m.media(laptop, tablet, phone)
    display: block

.titleDesc
  line-height: 1.3
  font-size: 20px
  width: 362px
  flex-shrink: 0
  margin-right: 75px
  @include m.media(desktop)
    font-size: 19px
  @include m.media(laptop, tablet, phone)
    font-size: 18px
    margin-right: 0
    width: 100%
    margin-bottom: 40px
  @include m.media(tablet)
    font-size: 16px
  @include m.media(phone)
    font-size: 15px

.desc
  margin-bottom: 20px

.list
  display: flex
  flex-wrap: wrap
  margin: 0 -25px
  p
    line-height: 1.2

.listItem
  width: 50%
  padding: 0 25px
  margin-bottom: 77px
  @include m.media(laptop)
    margin-bottom: 50px
  @include m.media(tablet, phone)
    margin-bottom: 35px

.number
  font-weight: bold
  font-size: 72px
  margin-bottom: 17px
  margin-top: -11px
  @include m.media(tablet, phone)
    font-size: 48px
  @include m.media(phone)
    font-size: 30px
    margin-bottom: 10px
