@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  margin: 0 10px

.wrapper
  max-width: 1290px
  display: block 
  @include m.media(desktop, widescreen)
    margin-bottom: f.px(110)
  @include m.media(phone, tablet, laptop)
    margin-bottom: f.px(78)
  color: #fff
  padding: 96px 110px 135px 220px
  background: #ff3535
  &.overlapsFooter
    margin-bottom: 0
    transform: translateY(30px)
  @include m.media(desktop)
    padding: 90px 100px
  @include m.media(laptop, tablet, phone)
    padding: 40px
    margin-bottom: 60px
  @include m.media(tablet, phone)
    padding: 40px 25px

.title
  font-size: 36px
  font-weight: 800
  line-height: 1.2
  margin-bottom: 20px
  @include m.media(phone)
    font-weight: 400
    font-size: 28px 

.desc
  line-height: 1.2
  margin-bottom: 50px
  max-width: 760px
  color: #fddfe4
  margin-top: -10px
  @include m.media(laptop)
    margin-bottom: 30px
  @include m.media(tablet, phone)
    margin-bottom: 20px
