@use '@/styles/utils/mixin' as m

.container
  margin: 0 10px

.wrapper
  display: block 
  margin-bottom: 110px
  color: #fff
  padding: 96px 110px 135px 220px
  background: #ff3535
  &.overlapsFooter
    margin-bottom: 0
    transform: translateY(30px)
  @include m.media(desktop)
    padding: 90px 100px
  @include m.media(laptop, tablet, phone)
    padding: 40px
    margin-bottom: 60px
  @include m.media(tablet, phone)
    padding: 40px 25px
  .title
    font-size: 36px
    font-weight: 800
    line-height: 1.2
    margin-bottom: 20px
    @include m.media(phone)
      font-weight: 400
      font-size: 28px 

.desc
  line-height: 1.2
  margin-bottom: 50px
  max-width: 760px
  color: #fddfe4
  margin-top: -10px
  @include m.media(laptop)
    margin-bottom: 30px
  @include m.media(tablet, phone)
    margin-bottom: 20px
