@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  position: relative
  @include m.flex
  margin-bottom: 103px

.left
  @include m.flex($jc: center, $ai: center)
  background-color: #2300FA
  @include m.media(phone, tablet, laptop)
    position: absolute
    top: -31px
    right: 15px
    width: 100%
    max-width: 76px
    padding: 7px
  @include m.media(desktop, widescreen)
    padding: 52px 112px

.right
  @include m.flex($fd: column, $jc: center)
  width: 100%
  @include m.media(phone)
    padding: 50px 30px
    background-color: #262626
  @include m.media(tablet, laptop)
    padding: 73px 67px
    background-color: #262626
  @include m.media(desktop, widescreen)
    padding: 73px 67px
    background-color: #F7F7F7

.title
  margin-bottom: 23px
  overflow-wrap: break-word
  @include m.media(phone, tablet, laptop)
    font-size: 28px
    font-weight: 500
    line-height: 120%
    color: #fff
  @include m.media(desktop, widescreen)
    font-size: 36px
    font-weight: 700
    color: #2D2C2A

.desc
  font-weight: 400
  line-height: 120%
  @include m.media(phone, tablet, laptop)
    font-size: 13px
    color: #fff
  @include m.media(desktop, widescreen)
    max-width: 50ch
    font-size: 20px
    color: #2D2C2A
  

.icon
  width: 100%
  @include m.media(phone, tablet, laptop)
    min-width: 62px
    max-width: 62px
  @include m.media(desktop, widescreen)
    min-width: 222px
    max-width: 222px

.desktop
  @include m.media(phone, tablet, laptop, widescreen)
    display: none

.widescreen
  @include m.media(phone, tablet, laptop, desktop)
    display: none