@use '@/styles/utils/mixin' as m

.container
  margin-bottom: 70px
  
.wrapper
  background: #f7f7f7
  padding: 130px 103px
  max-width: 1310px
  @include m.media(desktop)
    padding: 100px 50px
  @include m.media(laptop)
    padding: 60px 40px
    margin-bottom: 40px
  @include m.media(tablet, phone)
    padding: 50px 10px

.flexContainer
  padding-left: 117px
  display: flex
  justify-content: space-between
  align-items: flex-start
  @include m.media(desktop, laptop, tablet, phone)
    padding-left: 0
  @include m.media(laptop, tablet, phone)
    display: block

.content
  flex-shrink: 0
  width: 520px
  margin-right: 20px
  position: relative
  @include m.media(desktop)
    width: 480px
  @include m.media(laptop, tablet, phone)
    margin-right: 0
    margin-bottom: 50px
    width: 100%

.title
  color: #fff
  font-size: 13px
  margin-bottom: 15px
  font-family: 'mazzardH', Arial, Tahoma, sans-serif
  position: absolute
  right: 100%
  margin-right: 30px
  top: 13px
  span
    display: inline-block
    background: #ff3535
    padding: 13px
  @include m.media(desktop, laptop, tablet, phone)
    position: static
    margin-bottom: 15px
    margin-right: 0

.desc
  font-size: 20px
  line-height: 1.3
  margin-bottom: 20px
  @include m.media(desktop)
    font-size: 19px
  @include m.media(laptop)
    font-size: 18px
  @include m.media(tablet)
    font-size: 16px
  @include m.media(phone)
    font-size: 15px

.list
  display: flex
  line-height: 1.2
  margin-bottom: 35px
  padding-top: 11px
  @include m.media(phone)
    display: block
    margin-bottom: 25px
    padding-top: 5px

.listItem
  border-left: 1px solid rgba(0, 0, 0, 0.11)
  width: 33.333%
  padding: 5px 20px
  @include m.media(phone)
    width: 100%
    border-left: none
    padding: 0
    padding-left: 18px
    position: relative
    font-weight: bold
    font-size: 16px
    margin-bottom: 15px
    &:before
      content: ''
      width: 4px
      height: 4px
      position: absolute
      left: 0
      top: 8px
      background: #ff3535

.button
  transition: all .3s ease-out
  display: inline-block
  font-family: 'MazzardM', Arial, Tahoma, sans-serif
  font-weight: 700
  font-size: 15px
  text-transform: uppercase
  letter-spacing: 0.1em
  text-align: center
  border-radius: 0
  padding: 19px 47px
  background: transparent
  color: #262626
  border: 1px solid #262626
  @include m.media(phone)
    width: 100%
    padding: 19px
  &:hover
    color: #fff
    background: #ff3535
    border-color: #ff3535

.price
  font-size: 25px
  color: #000
  margin-bottom: 33px
  @include m.media(phone)
    font-size: 23px

.imagesContainer
  position: relative
  max-width: 500px
  padding-top: 51px
  width: 401px
  @include m.media(desktop, laptop, tablet, phone)
    margin-right: -20px
    width: 350px
  @include m.media(laptop, tablet, phone)
    width: auto
    margin: 0 auto
    max-width: 425px
    box-sizing: content-box
    padding-left: 50px
    max-width: 401px
    padding-top: 0

.image
  border-radius: 50%
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover
    display: block

.imageOne
  width: 100%

.imageTwo
  width: 221px
  position: relative
  z-index: 3
  border: 7px solid #f7f7f7
  box-sizing: content-box
  margin-top: -67px
  margin-left: -56px
  @include m.media(phone)
    width: 170px
    border-width: 5px
    margin-top: -65px

.count
  position: absolute
  right: -6px
  bottom: 13px
  line-height: 1.2
  max-width: 143px
  @include m.media(laptop, tablet, phone)
    bottom: 20px
  @include m.media(phone)
    max-width: 130px
  strong
    font-size: 48px
    display: block
    color: #ff3535
    margin-bottom: 2px
    @include m.media(phone)
      font-size: 40px
  span
    font-weight: 700
