@use '@/styles/utils/mixin' as m

.container
  position: relative
  margin-bottom: 110px
  @include m.media(laptop)
    margin-bottom: 50px

  &.darkBgColor
    background-color: #2D2C2A

  &.noMargin
    margin-bottom: 0

.content
  display: flex
  justify-content: center
  align-items: center
  padding: 109px 70px
  background-color: #FF3535
  color: #fff
  @include m.media(laptop, tablet, phone)
    display: block
    padding: 45px 25px
  @include m.media(tablet)
    align-items: center

.title
  margin-right: 61px
  font-style: normal
  font-weight: 800
  font-size: 36px
  line-height: 120%
  @include m.media(desktop)
    font-size: 32px
  @include m.media(laptop, tablet, phone)
    font-size: 30px
    margin-right: 0
    margin-bottom: 35px
  @include m.media(tablet)
    font-size: 24px
    font-weight: 400
  @include m.media(phone)
    font-size: 20px
    font-weight: 400

.btn
  display: inline-block
  padding: 19px 33px
  text-transform: uppercase
  background-color: #ff3535
  color: #fff
  font-style: normal
  font-weight: bold
  font-size: 15px
  line-height: 120%
  text-align: center
  letter-spacing: 0.1em
  text-transform: uppercase
  &.btnLightBg
    background-color: #fff
    color: #000
  @include m.media(laptop, tablet, phone)
    width: 100%
    padding: 16px 0
    font-size: 14px

.pointer
  cursor: pointer

.br
  @include m.media(phone, tablet)
    display: none