@use '@/styles/utils/mixin' as m

.container
  position: relative
  z-index: 5
  margin-bottom: 164px
  color: #fff
  .image
    position: absolute
    z-index: -1
    left: 0
    top: 0
    height: 100%
    width: 100%
    background-color: rgba(#000, 0.5)
    &::after
      content: ''
      position: absolute
      z-index: 2
      left: 0
      top: 0
      height: 100%
      width: 100%
      background: #070f24
      opacity: 0.8
  img
    object-fit: cover
    height: 100%
    width: 100%

.wrapper
  display: block
  overflow: hidden

.content
  position: relative
  z-index: 2
  @include m.media(phone)
    padding-top: 29px
    padding-bottom: 140px
  @include m.media(tablet, laptop)
    padding-top: 82px
    padding-bottom: 140px
  @include m.media(desktop, widescreen)
    padding-top: 146px
    padding-bottom: 177px

.flexContainer
  display: flex
  @include m.media(desktop, laptop, tablet, phone)
    flex-direction: column
    justify-content: center
    align-items: center

.descContainer
  max-width: 950px
  flex-shrink: 1
  margin-right: 40px
  @include m.media(tablet, phone)
    margin-right: 0

.desktopLinksList
  display: flex
  flex-wrap: wrap
  margin-bottom: 17px
  font-size: 23px
  @include m.media(phone)
    display: none

.desktopLinkBorder
  border-right: 1px solid #fff
  &:not(:last-child)
    margin-right: 15px

.mobileLinksList
  display: none
  @include m.media(phone)
    display: flex
    margin-bottom: 29px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 100%

.linkItem
  &:not(:last-child)
    margin-right: 15px
  a
    @include m.media(phone)
      cursor: pointer

.title
  font-size: 58px
  @include m.media(phone)
    font-style: normal
    font-weight: bold
    font-size: 21px
    line-height: 100%
    margin-bottom: 14px

.descTopPart
  font-style: normal
  font-weight: 500
  font-size: 23px
  line-height: 130%
  margin-top: 27px
  @include m.media(phone)
    margin-top: 14px
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 130%

.descForm
  margin-top: 45px
  @include m.media(phone)
    margin-top: 29px

.descBottomPart
  font-style: normal
  font-weight: 300
  font-size: 21px
  line-height: 130%
  margin-bottom: 23px
  @include m.media(phone)
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 130%
    margin-bottom: 14px

.prosList
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-left: auto
  margin-bottom: 40px
  line-height: 1.2
  width: 272px
  margin-top: -13px
  @include m.media(desktop, laptop, tablet, phone)
    flex-direction: row
    justify-content: space-between
    width: 100%
    margin: 0
    width: 100%
  @include m.media(laptop, tablet, phone)
    flex-wrap: wrap
    margin: 0 -15px 10px
  @include m.media(phone)
    margin-bottom: -20px

.prosItem
  @include m.media(desktop)
    &:not(:last-child)
      border-right: 1px solid hsla(0,0%,100%,.3)
      margin-right: 20px
    &:not(:first-child)
      padding-left: 20px
  @include m.media(laptop, tablet, phone)
    width: 33.333%
    margin-right: 0
    padding: 0 15px
  @include m.media(desktop, laptop, tablet, phone)
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: none
  @include m.media(phone)
    padding: 0
    margin: 0
    width: 50%
    &:nth-child(1)
      border-bottom: 1px solid rgb(#fff, 0.3)
      border-right: 1px solid rgb(#fff, 0.3)
      padding-right: 22px
      padding-bottom: 22px
    &:nth-child(3)
      border-bottom: 1px solid rgb(#fff, 0.3)
      padding-left: 36px
      padding-bottom: 22px
    &:nth-child(5)
      border-right: 1px solid rgb(#fff, 0.3)
      padding-top: 22px
      padding-right: 22px
    &:nth-child(7)
      padding-top: 22px
      padding-left: 36px

.prosStatsNumber
  font-weight: bold
  font-size: 48px
  @include m.media(tablet)
    font-size: 38px
  @include m.media(phone)
    font-size: 32px

.prosSeparator
  display: flex
  height: 1px
  width: 100%
  background-color: rgba(255, 255, 255, 0.3)
  @include m.media(desktop, laptop, tablet, phone)
    display: none

.red
  color: #ff3535
