@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/shared/journal' as j

.container
  @include m.media(phone, tablet, laptop)
    padding-bottom: f.px(60)
  @include m.media(desktop, widescreen)
    padding-bottom: f.px(130)
    padding-top: f.px(160)

.content
  position: relative
  @include m.media(phone, tablet, laptop)
    padding-top: f.px(60)
    padding-right: f.px(15)
    padding-bottom: f.px(258)
    padding-left: f.px(15)
  @include m.media(desktop, widescreen)
    max-width: 74.9%
    padding-top: f.px(117)
    padding-right: 11.7%
    padding-bottom: f.px(117)
    padding-left: 4.4%
  @include m.media(widescreen)
    display: flex
  @include m.dye(bgc, c.$alpha)
  @include m.dye(c, c.$psi)

.left
  @include m.media(phone, tablet, laptop)
    margin-bottom: f.px(10)
  @include m.media(desktop)
    margin-bottom: f.px(20)
  @include m.media(widescreen)
    margin-right: 6.5%

.label
  margin: 0
  @include m.media(phone, tablet, laptop)
    font-size: f.px(16)
  @include m.media(desktop, widescreen)
    font-size: f.px(20)
  font-weight: 700
  line-height: 120%
  text-transform: uppercase

.title
  @include m.media(phone, tablet, laptop)
    font-size: f.px(32)
  @include m.media(desktop)
    max-width: 16ch
  @include m.media(desktop, widescreen)
    font-size: f.px(48)
  margin: 0
  font-weight: 700
  line-height: 120%

.desc
  @include m.media(phone, tablet, laptop)
    margin-top: f.px(10)
    font-size: f.px(15)
    font-weight: 400
  @include m.media(desktop, widescreen)
    max-width: 40ch
    margin-top: f.px(20)
    font-size: f.px(20)
    font-weight: 300
  line-height: 130%

.imageContainer
  @include m.media(desktop, widescreen)
    position: absolute
    right: 0
    top: -15%
    max-width: f.px(426)
  @include m.media(phone, tablet, laptop)
    display: flex
    justify-content: center
    padding-right: f.px(48)
    padding-left: f.px(48)
    transform: translateY(f.px(-210))
    margin-bottom: f.px(-210)
  img
    width: 100%
    height: 100%
    object-fit: cover
