@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container
  position: relative
  display: flex
  justify-content: flex-end
  margin-top: f.px(220)
  margin-bottom: f.px(110)
  @include m.media(laptop, tablet, phone)
    display: block
    margin-top: f.px(550)
    margin-bottom: f.px(110)
  @include m.media(phone)
    margin-top: f.px(300)
    margin-bottom: f.px(60)

.icon
  position: absolute
  width: 366px
  height: 366px
  background-color: #FF3535
  top: -100px
  left: 10px
  padding: 90px
  @include m.media(desktop)
    width: 266px
    height: 266px
    left: 5%
    top: -130px
    padding: 60px
  @include m.media(laptop, tablet, phone)
    right: 5%
    top: -38px
    width: 76px
    height: 76px
    left: auto
    padding: 5px

.content
  padding: 116px 135px 117px 342px
  // max-width: 1100px
  background-color: #262626
  color: #fff
  @include m.media(widescreen)
    padding-left: f.px(440)
  @include m.media(desktop, widescreen)
    float: right
  @include m.media(laptop, tablet, phone)
    float: none
  @include m.media(laptop)
    padding: 90px 40px
  @include m.media(tablet, phone)
    padding: 60px 15px

.title
  @include m.media(laptop, desktop, widescreen)
    max-width: 16ch
  font-size: f.px(48)
  font-weight: 800
  line-height: 120%
  margin-bottom: 20px
  @include m.media(laptop, tablet, phone)
    font-weight: 700
    font-size: f.px(32)

.text
  font-weight: 300
  font-size: f.px(20)
  line-height: 120%
  @include m.media(laptop, tablet, phone)
    font-weight: 300
    font-size: f.px(15)
    line-height: 130%
