@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container

.iconContainer
  display: flex
  justify-content: center
  align-items: center
  @include m.media(phone, tablet, laptop)
    min-width: f.px(76)
    max-width: f.px(76)
    min-height: f.px(76)
    max-height: f.px(76)
    margin-left: auto
    margin-right: f.px(15)
    transform: translateY(f.px(76 / 2))
    margin-top: f.px(-76 / 2)
  @include m.media(desktop, widescreen)
    min-width: f.px(366)
    max-width: f.px(366)
    min-height: f.px(366)
    max-height: f.px(366)
    transform: translateY(f.px(290))
    margin-top: f.px(-290)
  @include m.dye(bgc, c.$alpha)

.icon
  @include m.media(phone, tablet, laptop)
    min-width: f.px(37)
    max-width: f.px(37)
    min-height: f.px(37)
    max-height: f.px(37)
  @include m.media(desktop, widescreen)
    min-width: f.px(179)
    max-width: f.px(179)
    min-height: f.px(181)
    max-height: f.px(181)

.content
  @include m.media(phone, tablet, laptop)
    padding-top: f.px(60)
    padding-right: f.px(15)
    padding-bottom: f.px(60)
    padding-left: f.px(15)
  @include m.media(desktop, widescreen)
    max-width: 82.7%
    margin-left: auto
    padding-top: f.px(116)
    padding-right: 15.4%
    padding-bottom: f.px(116)
    padding-left: 24.1%
  @include m.dye(bgc, c.$chi)
  @include m.dye(c, c.$psi)

.title
  margin: 0
  @include m.media(phone, tablet, laptop)
    font-size: f.px(32)
  @include m.media(desktop, widescreen)
    font-size: f.px(48)
  font-weight: 700
  line-height: 120%

.p
  @include m.media(phone, tablet, laptop)
    margin-top: f.px(10)
    font-size: f.px(15)
    font-weight: 300
    line-height: 130%
  @include m.media(desktop, widescreen)
    max-width: 45ch
    margin-top: f.px(20)
    font-size: f.px(20)
    font-weight: 400
    line-height: 120%