@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container
  position: relative
  background-color: #F7F7F7
  margin-bottom: 110px
  padding: 113px 105px
  margin-top: 130px
  @include m.flex($jc: space-between, $ai: center)

  @include m.media(desktop, laptop, tablet, phone)
    padding: 40px
    margin-bottom: 60px

  @include m.media(tablet, phone)
    padding: 40px 25px
    margin-top: 60px
    background-color: #262626

  @include m.media(phone)
    padding: 42px 25px

  .icon
    padding-right: 95px
    @include m.media(desktop)
      padding-right: 50px
    @include m.media(laptop)
      padding-right: 35px
    @include m.media(tablet, phone)
      position: absolute
      background-color: #2300FA
      padding: 0
      top: -30px
      right: 50px

  .content
    padding-left: 100px
    border-left: 3px solid #eaeaea
    @include m.media(laptop, tablet, phone)
      padding-left: 30px
    @include m.media(tablet, phone)
      border-left: none
      padding: 0

    h3
      font-weight: 700
      color: #2D2C2A
      line-height: 1.2
      font-size: f.px(48)
      margin-bottom: 23px
      @include m.media(laptop, tablet, phone)
        font-size: f.px(38)
      @include m.media(tablet, phone)
        padding-right: 70px
        color: #fff
      @include m.media(phone)
        font-size: f.px(28)
        font-weight: 400
        padding: 0
        margin-bottom: 10px

    p
      font-size: f.px(25)
      line-height: 1.2
      @include m.media(laptop, tablet, phone)
        font-size: f.px(18)
      @include m.media(tablet, phone)
        padding-right: 70px
        color: #fff
        font-size: f.px(13)
      @include m.media(phone)
        padding: 0

