@use 'sass:math'
@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.costOfStudyOldPrice
  color: #808080
  font-size: 24px
  position: relative
  margin-left: 28px
  display: inline-block
  @include m.media(desktop)
    margin-left: 15px
  @include m.media(phone)
    font-size: 20px
  &::after
    content: ''
    width: 110%
    height: 1px
    background: #808080
    position: absolute
    top: 51%
    left: -5%
    z-index: 2

.price
  display: flex
  flex-direction: column
  @include m.media(phone, tablet)
    // margin-right: f.px(20)
    font-size: f.px(36)
  @include m.media(laptop, desktop, widescreen)
    // margin-right: f.px(27)
    // margin-bottom: f.px(10)
    font-size: f.px(62)
    &.smallerFontForSmallerLength
      font-size: f.px(52)
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$xi)

.priceLabel
  @include m.media(phone, tablet)
    font-size: f.px(16)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(32)
    &.smallerFontForSmallerLength
      font-size: f.px(28)
  font-weight: 400
  line-height: 120%
  @include m.dye(c, c.$xi)

.priceLabelInfo
  display: inline-block
  flex-grow: 1
  min-width: 100%
  max-width: 100%
  @include m.media(phone, tablet)
    font-size: f.px(14)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(14)
  font-weight: 300
  line-height: 120%
  @include m.dye(c, c.$tau)

.discount
  display: inline-block
  @include m.media(phone, tablet)
    font-size: f.px(20)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(36)
  font-weight: 700
  line-height: 120%
  @include m.dye(c, c.$tau)

.discountNum
  text-decoration: line-through

.discountLabel
  @include m.media(phone, tablet)
    font-size: f.px(14)
  @include m.media(laptop, desktop, widescreen)
    font-size: f.px(16)
  font-weight: 400
  line-height: 120%
  @include m.dye(c, c.$tau)