@use '@/styles/utils/mixin' as m

.costOfStudyOldPrice
  color: #808080
  font-size: 24px
  position: relative
  margin-left: 28px
  display: inline-block
  @include m.media(desktop)
    margin-left: 15px
  @include m.media(phone)
    font-size: 20px
  &::after
    content: ''
    width: 110%
    height: 1px
    background: #808080
    position: absolute
    top: 51%
    left: -5%
    z-index: 2

.infoRectangleOldPrice
  position: relative
  font-size: 16px
  font-weight: 300
  &::after
    content: ''
    width: 110%
    height: 2px
    background: #fff
    top: 50%
    left: 0
    margin-left: -5%
    margin-top: -1px
    position: absolute
    z-index: 3
    transform: rotate(9deg)

.infoRectangleNewPrice
  font-size: 20px
  font-weight: 500
  margin-right: 8px
  &::after
    display: none
  @include m.media(phone)
    font-size: 16px
