.btn
  display: inline-block
  padding: 19px 33px
  text-transform: uppercase
  background-color: #fff
  color: #000
  font-style: normal
  font-weight: bold
  font-size: 15px
  line-height: 120%
  text-align: center
  letter-spacing: 0.1em
  text-transform: uppercase
  @media(max-width: 767px)
    width: 100%
    padding: 16px 0
    font-size: 14px
  
  &.redBgColor
    background-color: #FF3535
    color: #fff

.pointer
  cursor: pointer