@use '@/styles/utils/mixin' as m

.phoneLinks
  display: flex
  align-items: center
  font-weight: 500
  @include m.media(laptop, widescreen)
    & .phoneLink
      &:nth-child(1)
        margin-right: 25px
  @include m.media(desktop)
    flex-direction: column
    & .phoneLink
      margin-bottom: 7px
  @include m.media(phone, tablet)
    & .phoneLink
      &:nth-child(2)
        display: none

.phoneLink
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-end
  @media (max-width: 370px)
    display: none

.description
  margin-bottom: 5px
  font-size: 10px
  font-weight: 300
  color: #B5B5B5

.phoneIcon
  display: none

@media (max-width: 370px)
  .phoneIcon
    display: block
